/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body, html {
    margin: 0;
}
.spacer {
    flex-grow: 1;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}





